<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/layui/layui.all.js}"></script>
</head>
<body>
<div class="layui-card layui-form">
    <div class="layui-card-header">
        <div class="layui-form-item">
            <div class="layui-inline">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>表名数据列表</legend>
                </fieldset>
            </div>
            <div class="layui-inline layui-layout-right">
                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="config">主配置</button>
                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="generator">代码生成</button>
            </div>
        </div>
    </div>
    <div class="layui-card-body">
        <table id="tableList" class="layui-table" lay-filter="tableList">
            <thead>
            <tr>
                <th lay-data="{type:'checkbox'}"><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
                <th lay-data="{field:'tableSchema', fixed: true}">Schema</th>
                <th lay-data="{field:'tableName', sort: true, fixed: true}">Table</th>
                <th lay-data="{field:'tableComment', fixed: true}">备注</th>
                <th lay-data="{field: 'right',fixed: true}">操作</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="item : ${list}">
                <td><input type="checkbox" name="checkbox" lay-skin="primary" th:attr="data-table=${item.tableName}"></td>
                <td th:text="${item.tableSchema}"></td>
                <td th:text="${item.tableName}"></td>
                <td th:text="${item.tableComment}"></td>
                <td>
                    <a class="layui-btn layui-btn-xs" th:href="@{/code/table/{table}/column(table=${item.tableName})}" target="_blank" th:attr="data-table=${item.tableName}">编辑</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/code/table}" class="layui-hide" id="exportUrl"></a>
        <a th:href="@{/code/table/config}" class="layui-hide" id="getConfigUrl"></a>
    </div>
</div>
<script id="tplConfig" type="text/html">
    <form class="layui-form" th:action="@{/code/table/config}" method="post">
        <table id="configTable" class="layui-table" lay-filter="configTable">
            <thead>
            <tr>
                <th lay-data="{field:'name'}">文件名</th>
                <th lay-data="{field:'enable'}">需要生成</th>
            </tr>
            </thead>
            <tbody>
            {{#  layui.each(d, function(index, item){ }}
            <tr>
                <td>{{item.name}}</td>
                <td>
                    <input type="hidden" name="name" value="{{item.name}}">
                    {{#  if(item.enable){ }}
                    <input type="checkbox" name="enable" lay-skin="switch" lay-text="是|否" checked>
                    {{#  } else { }}
                    <input type="checkbox" name="enable" lay-skin="switch" lay-text="是|否">
                    {{#  } }}
                </td>
            </tr>
            {{#  }); }}
            </tbody>
        </table>
    </form>
</script>
<script type="text/javascript" th:src="@{/table.js}"></script>
</body>
</html>