<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/head::page-head(title=${'表配置 -- 代码自动生成工具'})"></head>
<body>
<div class="layui-layout layui-layout-admin">
            <table id="tableList" class="layui-table" lay-filter="tableList" th:attr="data-url=@{/sys/table/list}"></table>
            <a th:href="@{/sys/table}" class="layui-hide" id="exportUrl"></a>
</div>
<script type="text/html" id="toolbarTpl">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="build">代码生成</button>
    </div>
</script>
<script type="text/html" id="operatorTpl">
    <a class="layui-btn layui-btn-xs" data-table="{{d.tableName}}" th:attr="data-url=@{/sys/table/} + '{{d.tableName}}/config'" lay-event="edit">编辑</a>
</script>
<script type="text/javascript" th:src="@{/static/table.js}"></script>
</body>
</html>