<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/head::page-head(title=${'代码自动生成工具'})"></head>
<body>
<div>
    <form class="layui-form" th:action="@{/sys/config/templates}" method="post">
        <table id="configTable" class="layui-table" lay-filter="configTable"/>
    </form>
    <script type="text/html" id="switchEnableTpl">
        <input type="checkbox" name="enable" data-name="{{d.name}}" data-enable="{{d.enable}}" lay-skin="switch" lay-filter="enableSwitch" lay-text="是|否" {{d.enable ? 'checked' : ''}}>
    </script>
</div>
<script type="text/javascript" th:src="@{/static/template.js}"></script>

</body>
</html>