<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="config">
    <form class="layui-form" th:action="@{/code/config/templates}" method="post">
        <table id="configTable" class="layui-table" lay-filter="configTable"/>
    </form>
    <script type="text/html" id="switchEnableTpl">
        <input type="checkbox" name="enable" data-name="{{d.name}}" data-enable="{{d.enable}}" lay-skin="switch" lay-filter="enableSwitch" lay-text="是|否" {{d.enable ? 'checked' : ''}}>
    </script>
</div>
</body>
</html>