<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydf.generator.mapper.TableMapper">

    <select id="selectList" resultType="com.ydf.generator.entity.Table">
        SELECT
            `table_schema` as tableSchema,
            `table_name` as tableName,
            `table_comment` as tableComment
        FROM
          `information_schema`.`TABLES`
        <where>
            `table_type` = 'base table'
            and `table_schema` = (select database())
            <if test="tables != null and tables.length > 0">
                and `table_name` in
                <foreach collection="tables" index="index" item="item" open="(" separator="," close=")">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
        </where>
    </select>
</mapper>